.seletorOpcoes {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    margin-top: 0.25rem;
    background: var(--th);
    border-radius: 10px;
    z-index: 10;
    display: none;
    width: 120%;
    padding: 0.75rem;
}

.seletorOpcoes.ativo {
    display: block;
}



.notificacoes h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.listaNotificacoes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.iconeNotificacao {
    padding: 0.6rem;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemNotificacao {
    background-color: var(--cartoes);
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-left: 4px solid transparent;
}

.iconeNotificacao.critico {
    background-color: rgba(248, 113, 113, 0.2);
    color: var(--perigo);
}

.iconeNotificacao.alerta {
    background-color: rgba(251, 191, 36, 0.2);
    color: var(--alerta);
}

.iconeNotificacao.info {
    background-color: rgba(96, 165, 250, 0.2);
    color: var(--primario);
}

.conteudoNotificacao h4 {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.conteudoNotificacao p {
    font-size: 0.75rem;
    color: var(--cinza-700);
}





.barraNotificacao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--th);
    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 10px;
    position: fixed;
    right: 1.5rem;
    z-index: 1;
}

.iconeBarra {
    display: flex;
    padding: 0.5rem;
    border-radius: 8px;
}

.iconeBarra:hover {
    background-color: var(--tr);
}

.imgBarra {
    display: flex;
    background-color: var(--primario-claro);
    padding: 0.5rem;
    border-radius: 8px;
}

.pesquisa input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}



.cabecalho h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.cardsResumo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    align-items: center;
}

.cardPrincipal h1 {
    font-weight: 600;
}

.cardPrincipal h2 {
    font-size: 1rem;
}

.cardPrincipal p {
    font-size: 0.8rem;
}

.cardBadge {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cardBadge span {
    background-color: rgba(74, 222, 128, 0.2);
    color: #065F46;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: 0.75rem;

}

.cardsFundo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
}

.card {
    border-radius: 12px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--cartoes);
    box-shadow: var(--sombra);
}
.card:hover{
    box-shadow: 0px 4px 20px rgba(54, 41, 183, 0.1);
    transform: translateY(-2px);
    background-color:#F5F5F5;
}
.card.verde {
    color: #16A34A;
    background-color: none;
}

.card.vermelho {
    color: #DC2626;
    background-color: none
}

.card.azul {
    background-color: rgba(96, 165, 250, 0.1);
    color: #2563EB;
    display: none;
}

.card.amarelo {
    color: #D97706;
    background-color: none;
}

.card.ativo {
    transform: translateY(-4px);
    background-color: var(--cartoes);
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.4);
}


.iconeCard {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeResumo {
    width: 30px;
    height: 30px;
}

.iconeCard.verde  {
    background-color: rgba(74, 222, 128, 0.2);
    color: #16A34A;
}

.iconeCard.vermelho  {
    background-color: rgba(248, 113, 113, 0.2);
    color: #DC2626;
}

.iconeCard.azul  {
    background-color: rgba(96, 165, 250, 0.2);
    color: #2563EB;
}

.iconeCard.amarelo  {
    background-color: rgba(251, 191, 36, 0.2);
    color: #D97706;
}

.conteudoCard {
    flex: 1;
}

.conteudoCard h3 {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--texto);
    margin-bottom: 0.25rem;
}

.valor {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.subTexto {
    font-size: 0.75rem;
    color: var(--texto-p);
}

.conteudoAba {
    margin-bottom: 2rem;
}

.aba {
    display: none;
}

.aba.ativo {
    display: block;
}

.secaoGraficos, .secaoRelatorios, .secaoTransacoes, .secaoResumo {
    margin-bottom: 2rem;
}

.secaoGraficos h2, .secaoRelatorios h2, .secaoTransacoes h2, .secaoResumo h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}






.abasRelatorio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--fundo-botao);
    border-radius: 10px;
    width: 70%;
}

.botaoAba {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--texto-p);
    cursor: pointer;
    border-radius: 8px;
}

.botaoAba:hover {
    background-color: var(--cinza-100);
}

.botaoAba.ativo {
    background-color: var(--primario);
    color: white;
    padding: 0.7rem;
}

.conteudoRelatorio {
    display: none;
    border-radius: 16px;
    background-color: var(--cartoes);
    border: var(--borda);
    box-shadow: var(--sombra);
}

.conteudoRelatorio.ativo {
    display: block;
}

.cabecalhoRelatorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--cinza-200);
}

.cabecalhoRelatorio h3 {
    font-size: 1rem;
    font-weight: 600;
}

.cabecalhoRelatorio p {
    font-size: 0.875rem;
    color: var(--cinza-500);
}

.acoesRelatorio {
    display: flex;
    gap: 0.5rem;
}

.botaoAcao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.iconeTabela {
    width: 1rem;

}

.botaoAcao.primario {
    background-color: var(--primario);
    color: white;
}

.botaoAcao.secundario {
    background-color: white;
    color: var(--primario);
    border: 1px solid var(--primario);
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.conteudoOverlay {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.botaoOverlay {
    display: grid;
    gap: 1rem;
    margin: 1rem;
}

.botaoOverlay button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--cinza-700);
    cursor: pointer;
    border-radius: 8px;
}

.overlay.active {
    display: flex;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.graficoComCards {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.meioGrafico {
    position: relative;
    width: 300px;
    height: 250px;
}

.containerTotal {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.valorTotal {
    font-size: 32px;
    font-weight: bold;
    color: var(--texto);
}

.rotuloTotal {
    font-size: 14px;
    color: var(--texto-p);
}

.containerCards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    width: 100%;
}

.containerCards .cardStatus {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 1rem;
    gap: 1rem;
}

.cardStatusTexto {
    display: flex;
    flex-direction: column;

}

.cardStatusTexto h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px;
}

.cardStatusTexto h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
}

.cardStatusTexto p {
    font-size: 0.75rem;
    opacity: 0.9;
}

.cardStatus.verde {
    background-color: #4ade80;
    background-color: var(--cartoes);
    box-shadow: var(--sombra);
    border: var(--borda);
}

.cardStatus.vermelho {
    background-color: #F87171;
    background-color: var(--cartoes);
    box-shadow: var(--sombra);
    border: var(--borda);
}

.cardStatus.amarelo {
    background-color: #FBBF24;
    background-color: var(--cartoes);
    box-shadow: var(--sombra);
    border: var(--borda);
}

.cardStatusIcone {
    display: flex;
    padding: 1rem;
    border-radius: 12px;
    background-color: #065F46;
}

.cardStatus.verde .cardStatusIcone {
    background-color: #4ade80;
    color: white;
}

.cardStatus.vermelho .cardStatusIcone {
    background-color: #F87171;
    color: white;
}

.cardStatus.amarelo .cardStatusIcone {
    background-color: #FBBF24;
    color: white;
}

.cartaoCalendario {
    width: 55%;
    border-radius: 16px;
    background-color: var(--cartoes);
    border: var(--borda);
    box-shadow: var(--sombra);
}

.cabecalhoTabela {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--cinza-200);
}

.cabecalhoTabela h3 {
    font-size: 1rem;
    font-weight: 600;
}

.calendario {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem;
    
}

.calendario th, .calendario td {
    padding: 0.75rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    border-radius: 12px;
}

.calendario th {
    background-color: var(--cartoes);
    font-weight: 500;
    color: var(--texto);
}

.calendario tr {
    background-color: var(--th);
    font-weight: 500;
    color: var(--texto);
}

@media (max-width:640px) {
    .conteudo {
        flex-direction: column;
    } 
    .cabecalho {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
    }
    .cabecalho h1 {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .conteudoPrincipal {
        margin-right: 0;
        padding: 1rem;
    }
    .barraNotificacao {
        display: none;
    }
    .cardPrincipal {
        width: 100%;
        margin-bottom: 1rem;
        align-self: flex-end;
    }
    .cardsResumo {
        grid-template-columns: 1fr;
    }
    .iconeCard.vermelho, .iconeCard.verde, .iconeCard.azul, .iconeCard.amarelo {
        display: none;
    }
    .iconeResumo{
        display: none;
    }
    .card.ativo {
        margin: 0;
        }
    .cardsFundo .valor{
        font-size: 1rem;
    }
    .containerGraficos {
        flex-direction: column;
    }

    .containerGraficos .cartaoGrafico {
        width: 100%;
    }

    .containerCards {
        grid-template-columns: 1fr;
    }

    .graficoComCards {
        flex-direction: column;
        align-items: center;
    }

    .meioGrafico {
        width: 100%;
        height: 300px;
    }
    .containerTotal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cartaoCalendario {
        width: 100%;
    }
    .cabecalhoTabela {
        flex-direction: column;
        align-items: flex-start;
    }
    .cabecalhoTabela h3 {
        margin-bottom: 0.5rem;
    }
    .tabela {
        width: 100%;
        overflow-x: auto;
    }
    .tabela th, .tabela td {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
    .tabela tr {
        font-size: 0.75rem;
    }
    .tabela .linhaTotal {
        font-size: 0.875rem;
    }
    .tabelaContainer {
        padding: 0;
    }
    .botaoAdicionar {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoAba {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoAcao {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoOverlay button {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }

    .cabecalhoGrafico h3 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }
    .cabecalhoGrafico p {
        font-size: 0.75rem;
        color: var(--texto-p);
        margin-bottom: 1rem;
    }
    .grafico {
        height: 200px;
    }
    .cartaoGrafico {
        width: 100%;
        margin-bottom: 1rem;
    }
    .containerGraficos {
        flex-direction: column;
    }
    .containerGraficos .cartaoGrafico {
        width: 100%;
    }
    .containerCards {
        grid-template-columns: 1fr;
    }
    .graficoComCards {
        flex-direction: column;
        align-items: center;
    }
    .meioGrafico {
        width: 100%;
        height: 300px;
    }
    .containerTotal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .containerCards {
        grid-template-columns: 1fr;
    }
    .containerCards .cardStatus {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .containerCards .cardStatusIcone {
        margin-bottom: 0.5rem;
    }
    .containerCards .cardStatusTexto {
        text-align: center;
    }
    .cartaoCalendario {
        width: 100%;
    }
    .cabecalhoTabela {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .cabecalhoTabela h3 {
        margin-bottom: 0;
    }
    .tabela {
        width: 100%;
        overflow-x: auto;
    }
    .tabela th, .tabela td {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
    .tabela tr {
        font-size: 0.75rem;
    }
    .tabela .linhaTotal {
        font-size: 0.875rem;
    }
    .tabelaContainer {
        padding: 0;
    }
    .botaoAdicionar {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .abasRelatorio{
        width: 100%;
    }
    .botaoAba {
        font-size: 12px;
        padding: 1px;
    }
    .botaoAcao {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoOverlay button {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoAdicionar{
        font-size: 11px;
        font-weight: 500;
        padding: 8px;
    }
}

