
@media (max-width: 640px) {
    .conteudo {
        flex-direction: column;
    } 
    .cabecalho {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
    }
    .cabecalho h1 {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .conteudoPrincipal {
        margin-right: 0;
        padding: 1rem;
    }
    .barraNotificacao {
        display: none;
    }
    .abasRelatorio {
        width: 100%;
    }
    .cabecalhoTabela {
        flex-direction: column;
        align-items: flex-start;
    }
    .cabecalhoTabela h3 {
        margin-bottom: 0.5rem;
    }
    .tabela {
        width: 100%;
        overflow-x: auto;
    }
    .tabela th, .tabela td {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
    .tabela tr {
        font-size: 0.75rem;
    }
    .tabela .linhaTotal {
        font-size: 0.875rem;
    }
    .tabelaContainer {
        padding: 0;
    }
    .botaoAdicionar {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoAba {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoAcao {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoOverlay button {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .cabecalhoTabela {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .cabecalhoTabela h3 {
        margin-bottom: 0;
    }
    .tabela {
        width: 100%;
        overflow-x: auto;
    }
    .tabela th, .tabela td {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
    .tabela tr {
        font-size: 0.75rem;
    }
    .tabela .linhaTotal {
        font-size: 0.875rem;
    }
    .tabelaContainer {
        padding: 0;
    }
    .botaoAdicionar {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .abasRelatorio{
        width: 100%;
    }
    .botaoAba {
        font-size: 12px;
        padding: 1px;
    }
    .botaoAcao {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    .botaoOverlay button {
        font-size: 0.75rem;
        padding: 0.5rem 0.75rem;
    }
    button.botaoAcao.primario {
        padding: 8px;
        font-size: 12px;
    }
    .bancoIcone{
        min-width: 42px;
        min-height: 42px;
      }
}